.add-package-form{
    background-color: rgb(174, 194, 194);
    padding: 20px 10px;
    border-radius: 20px;
}
.add-package-form input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 13px;
    border: none;
    border-radius: 15px;
}
.add-package-form button{
    border-radius: 15px;
}
.package-table{
    padding: 20px;
    border: 2px dotted rgb(174, 194, 194);
    border-radius: 20px;
}