.why-choose-us{
    background-color: rgba(255, 255, 255, 0.938);
}
.why-choose-us-content{
    padding: 40px;
}
.icon-content{
    display: flex;
    align-items: center;
}
.icon-content i{
    width: 70px;
    background-color: rgb(156, 156, 196);
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    margin-right: 20PX;
    color: #FFFFFF;
    border: 4px solid rgb(202, 202, 216);
}