.my-single-package{
    border: 1px solid rgb(238, 232, 232);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.my-single-package img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.my-single-package i{
    background-color: blue;
    padding: 12px;
    color: #fff;
    border-radius: 50%;
}
.delete-btn{
    cursor: pointer;
}