.footer{
    background-color: rgb(61, 61, 218);
    border-radius: 35px 35px 0 0 ;
}
.social-icon a{
    font-size: 35px;
    margin: 10px;
    color: #fff;
}
.social-icon a:hover{
    color: gray;
}
.footer-address{
    display: flex;
    align-items: center;
    padding: 0 0;
}
.footer-address i{
    font-size: 20px;
    padding: 12px;
}
.copy-right{
    background-color: rgb(25, 25, 121);;
}